<a href="https://colab.research.google.com/github/Krankile/npmf/blob/main/notebooks/data_collection.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Setup

In [ ]:
%%capture
!pip install eikon
!pip install wandb

In [ ]:
import eikon as ek
import wandb
import pandas as pd
import numpy as np
import time
import os
import glob
from tqdm.auto import tqdm

In [ ]:
#"api_key_lk"
ek.set_app_key("EXAMPLE")

## Screen companies

In [ ]:
mic_exchanges = pd.read_csv("mic_codes.csv").set_index("MIC") #Can be used to look up specific stock exchanges codes :) (Y)

In [ ]:
oil_osebx_screen = 'SCREEN(U(IN(Equity(active,public,primary))), TR.CompanyMarketCap>=500000, IN(TR.ExchangeMarketIdCode,"XOSL"), IN(TR.TRBCBusinessSectorCode,"5010","5020","5030"), CURN=USD)'
fields_oil_osebx_screen = ["TR.CommonName"]#["TR.CommonName","TR.CompanyMarketCap","TR.ExchangeName","TR.TRBCBusinessSector","TR.TotalReturn3Mo"]

osbx_companies, e = ek.get_data(oil_osebx_screen, fields_oil_osebx_screen)
osbx_companies = osbx_companies.set_index("Instrument")

In [ ]:
oil_global_screen = 'SCREEN(U(IN(Equity(active,public,primary))), TR.CompanyMarketCap>=500000, IN(TR.TRBCBusinessSectorCode,"5010","5020","5030"), CURN=USD)'
fields_oil_global_screen = ["TR.CommonName"]

global_oil, e = ek.get_data(oil_global_screen, fields_oil_global_screen)
global_oil = global_oil.set_index("Instrument")

Now we have dataframe of all noted oil companies (with mcap > USD 5m) in eikon refinitives entire database

# Collect data from eikon refinitiv

In [ ]:
######## INPUTS ########
lst_of_tickers = global_oil.index.to_list()

#Eikon parameters
start_date = '2000-01-01'
end_date = '2022-04-21'
ek_params = {'SDate': start_date, 'EDate': end_date,'Frq': 'FQ', "Curn":"USD"}

#Max http company request at once
search_limit = 1

#What data to get
get_stock_data = True
get_meta_data = False
get_fundamental_data = False 
get_broker_data = False

toggle_dict = {'stock_data':get_stock_data, 'meta_data':get_meta_data,
               'fundamental_data':get_fundamental_data, 'broker_data':get_broker_data}



params = ek_params | toggle_dict | {'limit': search_limit} 
########################

## We define functions to find stock, meta, fundamental and broker estimates data

In [ ]:
def _sub_lists(data, size_m):
    return [data[x:x+size_m] for x in range(0, len(data), size_m)]

#Function to counteract http timeout
def _divide_pull_request(lst_of_tickers, fields, params, suffix):
    p = {key: val for key, val in params.items() if key in ek_params}
    if len(lst_of_tickers) > params['limit']:
        dfs = []
        for sub_ticker_lst in tqdm(_sub_lists(lst_of_tickers, params['limit']), suffix):
            df_sub, err = ek.get_data(lst_of_tickers, fields, p)
            dfs.append(df_sub)
        df = pd.concat(dfs, axis=0)
    else: 
     
        df, err = ek.get_data(lst_of_tickers, fields, p)
    return df

In [ ]:
def stock_data(lst_of_tickers, params):
    
    params_new = params.copy()
    params_new['Frq'] = 'D'
    
    fields = ['TR.CompanyMarketCap.Date','TR.CompanyMarketCap', 'TR.PriceClose',
              'TR.CompanyMarketCap.Currency'] #TR.F.ComShrOutsTot
    
    stock_df = _divide_pull_request(lst_of_tickers, fields=fields, params=params_new, suffix=' Getting time series')
    
    return stock_df

In [ ]:
#Meta data collector
def meta_data(lst_of_tickers):
    geography = ['TR.ExchangeMarketIdCode', 'TR.HeadquartersRegionAlt', 'TR.HeadquartersCountry', 'TR.HQStateProvince']
    sectors = ['TR.TRBCEconomicSector', 'TR.TRBCBusinessSector', 'TR.TRBCIndustryGroup', 'TR.TRBCIndustry', 'TR.TRBCActivity']
    founded = ['TR.OrgFoundedYear']

    meta_data = geography + founded + sectors  
    meta_df, _ = ek.get_data(lst_of_tickers, meta_data)
    meta_df = meta_df.set_index("Instrument")
    
    meta_df['Organization Founded Year'] = meta_df['Organization Founded Year'].replace(0, np.NaN) #<-- Eikon hilariously uses 0 instead of Na for missing year value
    
    
    return meta_df

In [ ]:
#Fundamental data collector

def fundamental_data(lst_of_tickers, params):
    
    #fields    
    profits = ['TR.TotalRevenue', 'TR.GrossProfit','TR.EBITDA','TR.EBIT', 'TR.F.NetIncAfterTax']#, 'TR.EV','MKT_CAP']
    balance = ['TR.F.TotAssets','TR.F.TotCurrAssets','TR.F.TotLiab','TR.F.TotCurrLiab','TR.F.LTDebtPctofTotAssets','TR.F.STDebtPctofTotAssets']#TR.F.TotLiab(Period=FY0)
    cash_flow = ['TR.F.LeveredFOCF']
    fundamental_data = profits + balance + cash_flow 
    
    other = []#['TR.InsiderBuyDepthComp'] <--- NA only, could be interesting to use....   
    reported_dates = ['TR.TotalRevenue.date','TR.TotalRevenue.periodenddate','TR.BSOriginalAnnouncementDate']
    
    fields = fundamental_data + other + reported_dates
    
    #collect data
    fundamental_df = _divide_pull_request(lst_of_tickers, params['limit'], fields, params, suffix=' Getting fundamentals')
    
    return fundamental_df

In [ ]:
def broker_estimates(lst_of_tickers, params):
    
    params_new = params.copy()
    params_new["Period"] = "FY1"    
    
    fields = ["TR.EPSMean","TR.EPSMean.periodenddate","TR.EBITMean",'TR.RevenueMean',
              "TR.ROAMean","TR.ROEMean","TR.FCFMean","TR.TotalAssets","TR.MeanPctChg(Period=FY1,WP=60d)"]
    
    estimates_df, err = ek.get_data(lst_of_tickers, fields, params)
    return estimates_df

In [ ]:
def get_data(lst_of_tickers, params):
    
    time_series_df = None
    meta_df = None
    fundamental_df = None
    broker_df = None
    
    if params['stock_data']: 
        stock_df = stock_data(lst_of_tickers, params)

    if params['meta_data']:
        meta_df = meta_data(lst_of_tickers)

    if params['fundamental_data']:
        fundamental_df = fundamental_data(lst_of_tickers, params)

    if params['broker_data']:
        broker_df = broker_estiqates(lst_of_tickers, params)
    
    return stock_df, meta_df, fundamental_df, broker_df

In [ ]:
def save_data(file_name, save_per_n_http_request, lst_of_tickers, params):
    
    non_collected_tickers = []


    name_to_index = {}
    dfs = {}
    for i, possible_key in enumerate(["stock_data", "meta_data", "fundamental_data", "broker_data"]):
        if params[possible_key]:
            name_to_index[possible_key] = i
            dfs[possible_key] = []
    
    partioned_lst_of_tickers = _sub_lists(lst_of_tickers, params["limit"])        
    for i, sub_ticker_lst in enumerate(tqdm(partioned_lst_of_tickers, "saving loop")):    
        try:
            raw_data_dfs = get_data(sub_ticker_lst, params)

            for key in name_to_index:
           
                dfs[key] = dfs[key] + [raw_data_dfs[name_to_index[key]]]
                
                
                
            if (not (i % save_per_n_http_request)) and i != 0:
                for key in name_to_index:
                    df = pd.concat(dfs[key], axis=0)
                    df = df.reset_index()

                    #wtfffff
                    df.to_feather(f"{file_name}_save={i}_type={key}.feather")
                    dfs[key] = []

        except: 
            non_collected_tickers += sub_ticker_lst

    
    #Write crashes to file       
    with open(f"{file_name}".txt, "w") as f:
        f.write("\n".join(non_collected_tickers))
    
    #Save last data if there are rests
    for key in name_to_index:
            break
            if dfs[key] != []:
                df = pd.concat(dfs[key], axis=0)

                df = df.reset_index()

                #wtfffff
                df.to_feather(f"{file_name}_save={len(partioned_lst_of_tickers)}_type={key}.feather")

In [ ]:
save_toggle = False

file_name = "C:/Users/kjartkra/Untitled Folder/stock_data/global_oil"
if save_toggle: 
    save_data(file_name, 2, lst_of_tickers, params)

In [ ]:
def _time_interval(start_date, end_date):
    y0 = int(start_date.split("-")[0])
    yn = int(end_date.split("-")[0])
    in_between_dates = [f"{str(year)}-01-01" for year in range(y0+1,yn,7)]
    return [start_date] + in_between_dates  + [end_date]
    
        

def macro_data(lst_of_tickers, ek_get_timeseries_fields, params):
        start_and_ends = _time_interval(params["SDate"],params["EDate"])
        
        tickers_to_serie = {}
        for ticker in lst_of_tickers:
            tickers_to_serie[ticker] = []
            for i in range(len(start_and_ends)-1):
                try: 
                    time_series = ek.get_timeseries(ticker, fields=ek_get_timeseries_fields,
                                                    start_date=start_and_ends[i], end_date=start_and_ends[i+1], interval=params["interval"])
                                 
                except ek.EikonError as err:
                    if err.code ==-1:
                        time_series = ek.get_timeseries("BRT-", fields=ek_get_timeseries_fields, start_date=start_and_ends[i], end_date=start_and_ends[i+1],interval=params["interval"])
                        time_series[ek_get_timeseries_fields] = np.nan
                        
                    if err.code ==  2504:
                        print("backend error")
                        time.sleep(2)
                        time_series = ek.get_timeseries(ticker, fields=ek_get_timeseries_fields,
                                                    start_date=start_and_ends[i], end_date=start_and_ends[i+1], interval=params["interval"])
                        
                tickers_to_serie[ticker] = tickers_to_serie[ticker] + [time_series]
            
            tickers_to_serie[ticker] = pd.concat(tickers_to_serie[ticker], axis=0)
            
        return tickers_to_serie

In [ ]:
macro_oil_params = ek_params.copy()
macro_oil_params["interval"] = "daily"
macro_oil_series = ["BRT-", "CLc1", "WTCLc1", "LNG-AS", ".VIX",'EUR=', 'GBP=', "CNY=", ]
macro_oil_fields = ["CLOSE"]

macro_oil = macro_data(macro_oil_series, macro_oil_fields , macro_oil_params)

2022-04-25 13:30:18,039 P[3656] [MainThread 14984] Error with WTCLc1: No data available for the requested date range
2022-04-25 13:30:18,039 P[3656] [MainThread 14984] WTCLc1: No data available for the requested date range |
2022-04-25 13:30:19,567 P[3656] [MainThread 14984] Error with LNG-AS: No data available for the requested date range
2022-04-25 13:30:19,567 P[3656] [MainThread 14984] LNG-AS: No data available for the requested date range |
2022-04-25 13:30:20,118 P[3656] [MainThread 14984] Error with LNG-AS: No data available for the requested date range
2022-04-25 13:30:20,118 P[3656] [MainThread 14984] LNG-AS: No data available for the requested date range |

(5635, 1)
(5605, 1)
(4436, 1)
(2587, 1)
(5614, 1)
(5819, 1)
(5819, 1)
(5819, 1)

In [ ]:
df = pd.DataFrame(index=macro_oil[macro_oil_series[0]].index)

dfs = []

macro_oil

{'BRT-': BRT-          BRT-
 Date
 2000-01-04    24.4
 2000-01-05   23.65
 2000-01-06   23.54
 2000-01-07   22.95
 2000-01-10    22.8
 ...            ...
 2022-04-13  107.39
 2022-04-14   108.0
 2022-04-19  105.67
 2022-04-20  104.78
 2022-04-21  106.51

 [5635 rows x 1 columns],
 'CLc1': CLc1          CLc1
 Date
 2000-01-04   25.55
 2000-01-05   24.91
 2000-01-06   24.78
 2000-01-07   24.22
 2000-01-10   24.67
 ...            ...
 2022-04-14  106.95
 2022-04-18  108.21
 2022-04-19  102.56
 2022-04-20  102.75
 2022-04-21  103.79

 [5605 rows x 1 columns],
 'WTCLc1':             WTCLc1
 Date
 2000-01-04    <NA>
 2000-01-05    <NA>
 2000-01-06    <NA>
 2000-01-07    <NA>
 2000-01-10    <NA>
 ...            ...
 2022-04-14  106.95
 2022-04-18  108.21
 2022-04-19  102.56
 2022-04-20  102.19
 2022-04-21  103.79

 [4436 rows x 1 columns],
 'LNG-AS':             LNG-AS
 Date
 2000-01-04    <NA>
 2000-01-05    <NA>
 2000-01-06    <NA>
 2000-01-07    <NA>
 2000-01-10    <NA>
 ...            ...
 2022-03-18    35.5
 2022-03-25    35.0
 2022-04-01    35.0
 2022-04-08    33.0
 2022-04-14    33.0

 [2587 rows x 1 columns],
 '.VIX': .VIX         .VIX
 Date
 2000-01-03  24.21
 2000-01-04  27.01
 2000-01-05  26.41
 2000-01-06  25.73
 2000-01-07  21.72
 ...           ...
 2022-04-14   22.7
 2022-04-18  22.17
 2022-04-19  21.37
 2022-04-20  20.32
 2022-04-21  22.68

 [5614 rows x 1 columns],
 'EUR=': EUR=          EUR=
 Date
 2000-01-03  1.0262
 2000-01-04  1.0308
 2000-01-05  1.0314
 2000-01-06  1.0319
 2000-01-07  1.0289
 ...            ...
 2022-04-15  1.0806
 2022-04-18   1.078
 2022-04-19  1.0786
 2022-04-20   1.085
 2022-04-21  1.0836

 [5819 rows x 1 columns],
 'GBP=': GBP=          GBP=
 Date
 2000-01-03  1.6368
 2000-01-04  1.6365
 2000-01-05  1.6415
 2000-01-06  1.6463
 2000-01-07  1.6383
 ...            ...
 2022-04-15  1.3058
 2022-04-18  1.3008
 2022-04-19  1.2996
 2022-04-20  1.3066
 2022-04-21  1.3028

 [5819 rows x 1 columns],
 'CNY=': CNY=          CNY=
 Date
 2000-01-03  8.2798
 2000-01-04  8.2799
 2000-01-05  8.2798
 2000-01-06  8.2797
 2000-01-07  8.2794
 ...            ...
 2022-04-15  6.3705
 2022-04-18   6.363
 2022-04-19   6.393
 2022-04-20  6.4188
 2022-04-21    6.45

 [5819 rows x 1 columns]}

In [ ]:
inlation_measures = ["aXZCPIALL"]
inflation_params = ek_params.copy()
inflation_params["interval"] = "monthly"
inflation = macro_data(inlation_measures, ["CLOSE"], inflation_params)
inflation["aXZCPIALL"]

aXZCPIALL
CLOSE    267
dtype: int64

In [ ]:
def dict_to_df(dictionary):
    dates = set()

    for key, frame in dictionary.items():
        dates |= set(frame.index.values)
    
    index = pd.Index(list(sorted(dates)))
    
    all_macro = pd.DataFrame(index=index)

    for key, frame in dictionary.items():
        frame = frame[~frame.index.duplicated(keep='first')]
        all_macro[key] = frame

    return all_macro

In [ ]:
df = dict_to_df(macro_oil)
df

              BRT-    CLc1  WTCLc1 LNG-AS   .VIX    EUR=    GBP=    CNY=
2000-01-03    <NA>    <NA>     NaN    NaN  24.21  1.0262  1.6368  8.2798
2000-01-04    24.4   25.55     NaN    NaN  27.01  1.0308  1.6365  8.2799
2000-01-05   23.65   24.91     NaN    NaN  26.41  1.0314  1.6415  8.2798
2000-01-06   23.54   24.78     NaN    NaN  25.73  1.0319  1.6463  8.2797
2000-01-07   22.95   24.22     NaN    NaN  21.72  1.0289  1.6383  8.2794
...            ...     ...     ...    ...    ...     ...     ...     ...
2022-04-15    <NA>    <NA>    <NA>    NaN   <NA>  1.0806  1.3058  6.3705
2022-04-18    <NA>  108.21  108.21    NaN  22.17   1.078  1.3008   6.363
2022-04-19  105.67  102.56  102.56    NaN  21.37  1.0786  1.2996   6.393
2022-04-20  104.78  102.75  102.19    NaN  20.32   1.085  1.3066  6.4188
2022-04-21  106.51  103.79  103.79    NaN  22.68  1.0836  1.3028    6.45

[5818 rows x 8 columns]

In [ ]:
def upload_artifact(run, dataframe_file_location, artifact_name):
    
    artifact = wandb.Artifact(artifact_name, type='dataset')

    # Add a file to the artifact's contents
    artifact.add_file(dataframe_file_location)

    # Save the artifact version to W&B and mark it as the output of this run
    run.log_artifact(artifact)

In [ ]:
macro_df = dict_to_df(macro_oil).reset_index()


files = glob.glob("C:/Users/kjartkra/Untitled Folder/stock_data/*.feather")
dfs = []
for file in files:
    dfs.append(pd.read_feather(file).set_index("index"))

df_big = pd.concat(dfs, axis=0).reset_index()
oil_company_df = df_big.drop("index", axis=1)

macro_location = 'C:/Users/kjartkra/Untitled Folder/macro_oil.feather'
company_location = 'C:/Users/kjartkra/Untitled Folder/companies_oil.feather'

macro_df.to_feather(macro_location)
oil_company_df.to_feather(company_location)

VBox(children=(Label(value='0.409 MB of 0.409 MB uploaded (0.000 MB deduped)\r'), FloatProgress(value=1.0, max…

In [ ]:
write_to_wandb = True
if write_to_wandb:
    with wandb.init(project="master-test") as run:

        upload_artifact(run, macro_location, "oil-macro-data")
        upload_artifact(run, company_location, "oil-company-data")

VBox(children=(Label(value='461.606 MB of 461.606 MB uploaded (0.000 MB deduped)\r'), FloatProgress(value=1.0,…

## Testing

In [ ]:
df_big

,Instrument,Date,Company Market Cap,Price Close,Currency
0,GGX.AX,,<NA>,<NA>,USD
1,GGX.AX,,<NA>,<NA>,USD
2,GGX.AX,,<NA>,<NA>,USD
3,GGX.AX,,<NA>,<NA>,USD
4,GGX.AX,,<NA>,<NA>,USD
...,...,...,...,...,...
9476370,AEC.V,2022-04-14T00:00:00Z,43250854.906096,0.10716,USD
9476371,AEC.V,2022-04-18T00:00:00Z,43082857.134364,0.107015,USD
9476372,AEC.V,2022-04-19T00:00:00Z,43079442.196417,0.107015,USD
9476373,AEC.V,2022-04-20T00:00:00Z,43486177.208353,0.107015,USD
9476374,AEC.V,2022-04-21T00:00:00Z,35207815.352202,0.087454,USD

In [ ]:
wandb.init()

artifact = wandb.Artifact('mnist', type='dataset')
artifact.add_dir('mnist/')
wandb.log_artifact(artifact)

In [ ]:
time_series_df_2, meta_df, fundamental_df, broker_df = get_data(lst_of_tickers[:5], params)
time_series_df_2

In [ ]:
time_series_df_2["Number Of Stocks"].isna().sum()

In [ ]:
time_series_df["Common Shares - Outstanding - Total"].isna().sum()

In [ ]:
time_series_df

In [ ]:
pd.set_option('display.max_rows', 1000)
time_series_df.to_excel("stock_data_2.xlsx")

In [ ]:
#Conclusion, makes small difference in time to process at server
test_time = False

if test_time: 
    params_single = {'SDate': start_date, 'EDate': end_date,'Frq': 'FQ','Period': 'FQ0'}
    params_curn = {'SDate': start_date, 'EDate': end_date,'Frq': 'FQ','Period': 'FQ0', "Curn":"USD"}
    
    
    start_time = time.time()
    data,err = ek.get_data(osbx_companies.index[:3].to_list(), financials, params_single)
    print("--- simple: %s seconds ---" % (time.time() - start_time))

    start_time = time.time()
    data_usd,err = ek.get_data(osbx_companies.index[:3].to_list(), financials, params_curn)
    print("--- Curn: %s seconds ---" % (time.time() - start_time))

    start_time = time.time()
    data_all,err = ek.get_data(osbx_companies.index[:3].to_list(), financials, params)
    print("--- Scale & Curn: %s seconds ---" % (time.time() - start_time))